<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">

    <title>Admin</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admincss.css">

</head>

<body>

    <nav class="topnav" id="nav">

        <div class="homediv">
            <a style="background-color: #FFC312; color: black;" href="/home"><i class="fa fa-fw fa-home"></i></a>
            <!-- <a href="/admin"></i>Ադմին</a> -->
            <!-- <a href="/admin/articles"></i>Հոդվածներ</a>
            <a href="/admin/create-article"></i> Նոր Հոդված</a> -->

        </div>

        <div class="navlogdiv">

            <a href="/admin/logout"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Դուրս գալ</a>
        </div>
    </nav>