<%- include ('components/adminHeader.ejs') -%>
<title>Create Article</title>

<style>
    body{
        /* background-color: rgba(0, 0, 0, 0.719); */
        background-image: linear-gradient(rgba(255, 255, 255, 0.089), rgba(255, 255, 255, 0.089)), url('/images/books.back.jpg') ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }
</style>

<div class="admindiv">
  
    <form action="" method="POST" enctype="multipart/form-data" class="">
<div>
   <p><label for="title">Վերնագիր</label></p> 
    <input type="text" name="title" id="title" placeholder="Վերնագիր" >
</div>

<div>    
   <p><label for="description">Նկարագրություն</label></p> 
    <input type="text" name="description" id="description" placeholder="Նկարագրություն">
</div>

<div>
   <p><label for="content">Տեքստ</label></p> 
    <textarea name="content" id="content" cols="30" rows="10" placeholder="Տեքստ"></textarea>
</div>

<div>
    <input type="file" name="imgfile" id="imgfile" >
</div>

<div class=inpdiv>
    <input type="submit" name="" id="" value="Ավելացնել">
</div>



    </form>
</div>

<%- include('components/footer.ejs') -%>